body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  box-shadow: none;
  border: none;
  transition: 300ms;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 120px 0;
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.header .logo {
  margin-right: 76px;
}

.header .logo-studio {
  color: #2e2f42;
}

.header-menu-list {
  display: flex;
  gap: 40px;
}

.header-menu-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: inline-block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
}

.header-address {
  font-style: normal;
}

.header-address-list {
  display: flex;
  gap: 40px;
}

.header-address-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}

.current {
  color: #404bbf;
  position: relative;
}

.current::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px 2px 0 0;
}

.hero {
  width: 100%;
  height: 600px;
  background-color: #2e2f42;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office1.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  margin-bottom: 48px;
  max-width: 496px;
}

.hero-button {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-list-item {
  width: calc((100% - 3 * 24px) / 4);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 8px;
}

.features-card {
  width: 264px;
  height: 112px;
  border-radius: 4px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  display: flex;
  align-items: center;
  justify-content: center;
}

.features-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.features-list-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.our-team {
  background-color: #f4f4fd;
}

.our-team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.our-team-list {
  display: flex;
  gap: 24px;
}

.our-team-list-item {
  background-color: #ffffff;
  width: calc((100% - 3 * 24px) / 4);
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.our-team-list-img {
  max-width: 100%;
  object-fit: cover;
}

.our-team-list-wrap {
  padding: 32px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.our-team-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.our-team-list-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.our-team-list-text-icons-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 24px;
}

.our-team-list-text-icons {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: #4d5ae5;
  color: #fff;
  border-radius: 50%;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-list-text-icons:hover {
  background-color: #31d0aa;
}

.social-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #fff;
}

.portfolio-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 1128px;
  row-gap: 48px;
  column-gap: 24px;
  margin: 0 auto;
}

.portfolio-card {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  cursor: pointer;
}

.portfolio-card-thumb {
  width: 360px;
  height: 300px;
  overflow: hidden;
  position: relative;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 32px;
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
}

.portfolio-card:hover .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-card-content {
  border: 1px solid #e7e9fc;
  border-top: 0;
  padding: 32px 16px;
}

.portfolio-card-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-item {
  margin-right: 120px;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}

.accent-light {
  color: #fff;
}

.footer-item-text {
  color: #f4f4fd;
  max-width: 264px;
}

.footer-social-text {
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-social-item {
  background-color: #4d5ae5;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-item:hover {
  background-color: #31d0aa;
}
